SUBSYSTEM=="vchiq", GROUP="video", MODE="0660"
SUBSYSTEM=="vc-sm", GROUP="video", MODE="0660"
SUBSYSTEM=="bcm2708_vcio", GROUP="video", MODE="0660"
SUBSYSTEM=="usb|usb_device", ACTION=="add", ATTRS{idVendor}=="16c0",ATTRS{idProduct}=="05dc", GROUP="plugdev"
